* text=auto eol=lf

*.md text eol=lf working-tree-encoding=UTF-8
*.ts text eol=lf working-tree-encoding=UTF-8
*.vue text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8
*.cjs text eol=lf working-tree-encoding=UTF-8
*.mjs text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.yaml text eol=lf working-tree-encoding=UTF-8
*.yml text eol=lf working-tree-encoding=UTF-8
*.css text eol=lf working-tree-encoding=UTF-8
*.html text eol=lf working-tree-encoding=UTF-8
*.sh text eol=lf working-tree-encoding=UTF-8

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.wav binary
